<!doctype html>
<head>
    <title>Chat app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script type="text/javascript" src="javascripts/chatapp.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body ng-app="chatapp" ng-controller="chatController">

  <nav class="navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Chatapp</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="username"><span class="glyphicon glyphicon-user"></span><span id="username_loggedIn"> {{getUsername()}}</span></a></li>
      </ul>
    </div>
  </nav>

  <div class="col-md-offset-2 col-md-8">

    <div class="chatFeed" ng-repeat="chat in chatList | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
      <div id="chatText">{{chat.text}}</div>
      <span id="chatUser">by: {{chat.user}} </span>
      <span id="chatTimeStamp">@ {{chat.time}}</span><br />
    </div>

  </div>

  <div class="footerBackground">
    <div class="footer col-md-offset-2 col-md-8">
      <div class="chatForm" ng-hide="isLoggedIn()">
        <form ng-submit="addChat()">
          <input class="chatInput form-control" type="text" ng-model="chat" required><br />
          <input class="btn btn-primary" type="submit" value="Chat">
        </form>
      </div>

      <div class="login" ng-show="isLoggedIn()">
        <form ng-submit="logIn()">
          <input class="form-control" type="text" ng-model="username" required><br>
          <input class="btn btn-primary" type="submit" value="Login">
        </form>
      </div>
    </div>
  </div>
</body>
