<!doctype html>
<head>
    <title>Chat app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script type="text/javascript" src="javascripts/chatapp.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body ng-app="chatapp">
  <nav class="navbar-fluid navbar-default navbar-fixed-top navbar-inverse">
     <div class="container">
       <a class="navbar-brand" href="#" style="font-family: verdana;"> Chatapp </a>
     </div>
 </nav>

  <div class="col-md-offset-2 col-md-8" ng-controller="chatController">
    <div class="chatFeed" ng-repeat="chat in chatList">
      {{chat.text}}
    </div>
    <div class="chatForm">
      <form ng-submit="addChat()">
        Input Chat: <input class="chatInput" type="text" ng-model="chat"><br>
        <input type="submit" value="Chat">
      </form>
    </div>
    {{hello}}
  </div>
</body>
